@reference "tailwindcss";

:host .movie-list__container { @apply mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-0; }
:host .movie-list__grid { @apply grid mt-6 grid grid-cols-1 gap-y-10 sm:grid-cols-3 sm:gap-x-6 sm:gap-y-8 lg:gap-x-8; }
