@reference "tailwindcss";

.error-state {
  @apply flex flex-col h-screen items-center justify-center ;
}

.error-state__content {
  @apply flex items-start rounded-md bg-red-50 p-4 dark:bg-red-500/15 dark:outline
  dark:outline-red-500/25;
}

.error-state__icon {
  @apply shrink-0;
}

.error-state__icon-svg {
  @apply h-5 w-5 text-red-400;
}

.error-state__body {
  @apply ml-3;
}

.error-state__title {
  @apply text-sm font-medium text-red-800 dark:text-red-200;
}

.error-state__message {
  @apply mt-2 text-sm text-red-700 dark:text-red-200/80;
}

.error-state__retry {
  @apply mt-3 text-sm font-semibold text-red-800 underline hover:text-red-900 dark:text-red-200;
}
