<main class="bg-white">
  <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-8 lg:px-8">
    <header class="flex items-center justify-between">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Movie catalog</h2>
      <app-search-input (searchChanged)="onSearch($event)"/>
    </header>
    <section aria-labelledby="movies-heading">
      <h2 id="movies-heading" class="sr-only">Movies</h2>
      @if (isFetching) {
        <app-loader label="Loading movies…" />
      }

      @if (movies$ | async; as movies) {
        @if (!isFetching && movies.length === 0) {
          <app-no-results-state [title]="'Movies not found'"
                                [message]="'Try another search query.'" />
        }
            <app-movies-list
              [movies]="movies" />
      }
    </section>
  </div>
</main>
