@reference "tailwindcss";

.search__form {
  @apply mx-auto w-42 sm:w-80 max-w-md;
}

.search_icon {
  @apply pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3;
}

.search__input {
  @apply block w-full rounded-lg border border-gray-300 bg-white p-3 pl-9 text-sm text-gray-900 shadow-sm placeholder:text-gray-400
  focus:border-indigo-400 focus:ring-2  focus:ring-indigo-500;
}

.search__button {
  @apply hidden sm:block cursor-pointer absolute inset-y-0 right-1.5 my-auto h-fit rounded-full p-1 text-black focus-visible:outline-2 focus-visible:outline-offset-2;
}
