@reference "tailwindcss";

.movie-catalog__container {
  @apply mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-8 lg:px-8;
}

.movie-catalog__header {
  @apply flex items-center justify-between;
}


.movie-catalog__title {
  @apply text-2xl font-bold tracking-tight text-gray-900;
}
