@reference "tailwindcss";

.loader-wrapper {
  @apply flex flex-col h-screen items-center justify-center gap-2;
}

.loader__label {
  @apply text-sm text-neutral-600;
}

.loader {
  @apply relative inline-block h-12 w-12 animate-spin rounded-full border-[3px] border-gray-800;
}

.loader::after {
  content: '';
  @apply absolute left-1/2 top-1/2 h-10 w-10 -translate-x-1/2 -translate-y-1/2 rounded-full border-[3px]
  border-orange-500 border-r-transparent;
}
